# For docker production
APP_ENV=production
APP_PORT=8000

API_KEY=

EMBEDDING_MODEL_NAME=facebook/dinov2-large

QDRANT_URL=http://host.docker.internal:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=malaysia_landmarks

HF_TOKEN=  # Optional, it would be better if it were available.

# For local development
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000
UVICORN_RELOAD=true
UVICORN_LOG_LEVEL=info

API_KEY=

QDRANT_URL=http://host.docker.internal:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=malaysia_landmarks